#!/usr/bin/env python3

import os
from pathlib import Path

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent.parent

SECRET_KEY = 'SUPERDUPERSECRETKEY'

CRS_URL = "https://tracker.c3voc.de/"
CRS_GROUP = "group"
CRS_SECRET = "secret"

ALLOWED_HOSTS = ['import.c3voc.de']

STATIC_URL = '/static/'
STATIC_ROOT = "/var/lib/voctoimport/static"
STATICFILES_DIRS = [
    os.path.join(BASE_DIR, "static"),
]

MEDIA_URL = 'https://import.c3voc.de/uploads/'
MEDIA_ROOT = "/var/lib/voctoimport/uploads"
